<!-- web_app/templates/layout.html -->

<!doctype html>
<html>

<head>
  {% block title %}
  <title>Ultimate Destiny - Destiny 2 Build Generator</title>
  {% endblock %}
  {% block style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/layout.css') }}">
  {% endblock %}
</head>

<body>
  <!-- HEADER -->
  <div id="header" class="header">
    <a style="font-weight: bold;">
      Ultimate Destiny
    </a>
    <a>
      The Rules
    </a>
    <a class="endcap">
      GitHub
    </a>
    <a class="endcap">
      About
    </a>
  </div>

  <!-- PAGE CONTENTS -->
  <div id="content">
    {% block content %}
    <div class='content'>
      <!-- Build Display Block -->
      <div class='contentbox'>
        {% block displaycontainer %}
        Build Will Display Here
        {% endblock %}
      </div>
      <!-- Build Selection Block -->
      <div class='contentbox'>
        {% block selectioncontainer %}
        Build Will Be Crafted Here
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>

  <!-- FOOTER -->
  <div id="footer">
    Ultimate Destiny isn't endorsed by Bungie and doesn't reflect the views or opinions of Bungie or anyone officially
    involved in producing or managing the Destiny game series. Destiny, Destiny 2, and Bungie are trademarks or
    registered trademarks of Bungie, Inc. Destiny, Destiny 2 &copy; Bungie, Inc.
  </div>
</body>

</html>