* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

div {
    padding: 5px 0 5px 0;
}

.header {
    overflow: hidden;
    background-color: burlywood;
    padding: 0;
}

.header a {
    float: left;
    display: block;
    padding: 12px 16px 12px 12px;
    border-right: 2px solid black;
    text-decoration: none;
    font-size: 1.5em
}

.header a.endcap {
    float: right;
    border: 0;
    border-left: 2px solid black;
    padding: 12px;
}

h1 {
    padding-top: 0;
    margin-top: 0;
    vertical-align: middle;

}

.contentbox {
    float: left;
    width: calc(50% - 10px);
    margin: 0 5px 0 5px;
    background-color: rosybrown;
    display: block;
}

.content {
    padding: 0;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}